@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h4>Hoşgeldin Dünyalı</h4>

<p>Buraya yönlendirildiğinize göre; <b>Admin</b> veya <b>Developer</b> yetkisine sahip değilsiniz.</p>
<p>Bu da demek oluyor ki sol üstte bulunan <b>Home</b> sayfasına her tıkladığınızda yine bu sayfaya yönlendirileceksiniz.</p>
<p>Bir sorun olduğunu düşünüyorsanız site yöneticilerine ulaşıp daha sonra tekrar deneyebilirsiniz.</p>
